@import "wacca.scss";

body {
  // evil hack to make waifus work (waifus > neat code)
  overflow: hidden;
}

.front-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  .mithical {
    max-width: 400px;
  }

  h1 {
    line-height: 1;
    font-weight: 300;
    font-size: 4.5rem;
  }
}

#nav {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--v-theme-primary));

  .profile-select {
    max-width: 200px;
  }

  a {
    color: white;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    padding: 10px;
    text-decoration: none;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .nav-spacer {
    width: 50px;
  }
}

.layout {
  flex-grow: 1;
}

.addcard-form {
  max-width: 400px;
  margin: 0 auto;
}
