.v-theme--wacca {
  .v-application__wrap {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAA9AgMAAAC4tyNYAAAADFBMVEX4+Pj////9/f37+/uz03onAAAA10lEQVQoz1XQvQ3CMBCG4QNEQZEybMAISJSRWIAil6RIkREYgSW8D0tkH/z9JBJu/FaPfRff2E7n+xSL6xAv1yUm1zlG1y0GVxtppkR2QjJyEVJLTFNrElJrFFJLzFpLTEF1RFALENaMn7AmIKwRCIpMiyJTVB0Q1gKENUfDAnNngbmxwKwsMLnVk/V/Hntd9yp75cdxzLfroI1wiNl1z97V5qDA+65MMETSTINRjKQYDtEbSTOFAwgBIwSMEDBCwAgBIwSMEDJYohggYoCYObtmIGKAiPkBm4hj3UXWVGQAAAAASUVORK5CYII=);
  }

  .v-container {
    max-width: 1000px;
  }

  #site-logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  #wacca-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    a {
      line-height: 1;
      position: relative;
      color: #000;
      font-weight: bold;
      font-size: 1.4rem;

      padding: 5px 10px;
      text-decoration: none;
      text-transform: uppercase;

      // underline animation thing
      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px rgb(var(--v-theme-primary));
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: (0% 200%);
      }

      &:hover:after,
      &.router-link-active:after {
        transform: scaleX(1);
      }
    }
  }

  $song-paddings: 10px;
  .song {
    display: flex;
    gap: $song-paddings;

    padding: $song-paddings;
    margin-bottom: 1rem;

    border-radius: $song-paddings;

    background-color: black;

    .song-cover {
      flex-shrink: 0;
      width: 160px;
      height: 160px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .song-info {
      flex-grow: 1;
      color: white;
      font-weight: bold;
    }

    .song-header {
      display: flex;
      justify-content: space-between;
    }

    .song-header-left {
      flex-grow: 1;

      .song-title {
        font-size: 1.5rem;
        margin-bottom: -10px;
      }

      .song-artist {
        font-size: 1rem;
        color: rgb(var(--v-theme-primary));
      }
    }

    .song-header-right {
      flex-shrink: 0;
    }

    .song-sheets {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: $song-paddings;
    }

    .song-difficulty-pill {
      &.song-difficulty-normal {
        background-color: #009de6;
      }

      &.song-difficulty-hard {
        background-color: #fed131;
      }

      &.song-difficulty-expert {
        background-color: #fc06a3;
      }

      &.song-difficulty-inferno {
        background-color: #4a004f;
      }

      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
      text-transform: uppercase;
      padding: 3px 15px;
      border-radius: 100px;
      background-image: linear-gradient(
        110deg,
        transparent 70%,
        rgba(0, 0, 0, 0.3) 70%
      );

      .song-difficulty-level {
        width: 30px;
        text-align: center;
      }
    }

    .song-difficulty-bottom {
      background-color: white;
      color: black;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 1rem;
      text-align: center;
    }

    .song-medal {
      white-space: nowrap;
      font-family: "SHINBI", sans-serif;
      letter-spacing: -1.5px;
      font-size: 1.3rem;
      text-align: center;
      transform: rotate(-10deg);
      height: 40px;
      margin-bottom: -5px;
    }

    .medal-clear {
      text-transform: uppercase;
      font-weight: 300;

      span {
        padding: 0 2px;
        background-image: linear-gradient(
          90deg,
          #057bd0,
          20%,
          #47fee7,
          40%,
          #fd44a0,
          60%,
          #47fee7,
          80%,
          #057bd0
        );
        background-clip: text;

        // evil vendor prefix stuff
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-stroke: 3px transparent;
        -moz-text-stroke: 3px transparent;
        color: white;
      }
    }

    .medal-missless {
      span {
        color: #dfff01;
        background: linear-gradient(180deg, #fffc00, #b2fb03);
        background-clip: text;
        // evil vendor prefix stuff
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }

    .medal-fullcombo {
      span {
        color: #dfff01;
        background: linear-gradient(
          180deg,
          #fb0298,
          33%,
          #fb0298,
          66%,
          #530bc8
        );
        background-clip: text;
        // evil vendor prefix stuff
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }

    .medal-allmarvelous {
      span {
        height: 30px;
        display: block;
        font-weight: 900;
        color: #dfff01;
        background: linear-gradient(
          170deg,
          #c323d3,
          5%,
          #eccd1b,
          15%,
          #eca41b,
          25%,
          #e43a3d,
          33%,
          #c323d3,
          50%,
          #c323d3,
          55%,
          #eccd1b,
          65%,
          #eca41b,
          75%,
          #e43a3d,
          83%,
          #c323d3
        );
        background-clip: text;
        // evil vendor prefix stuff
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;

        @keyframes marvelous {
          from {
            background-position: 0 0px;
          }
          to {
            background-position: 0 30px;
          }
        }

        animation: 2s linear infinite marvelous;
      }
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 20px;
    justify-content: center;
  }
}
