@font-face {
  font-family: "SHINBI";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/font/SHINBI.woff2") format("woff2");
}

.v-theme--waccaLight.wacca {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAA9AgMAAAC4tyNYAAAADFBMVEX4+Pj////9/f37+/uz03onAAAA10lEQVQoz1XQvQ3CMBCG4QNEQZEybMAISJSRWIAil6RIkREYgSW8D0tkH/z9JBJu/FaPfRff2E7n+xSL6xAv1yUm1zlG1y0GVxtppkR2QjJyEVJLTFNrElJrFFJLzFpLTEF1RFALENaMn7AmIKwRCIpMiyJTVB0Q1gKENUfDAnNngbmxwKwsMLnVk/V/Hntd9yp75cdxzLfroI1wiNl1z97V5qDA+65MMETSTINRjKQYDtEbSTOFAwgBIwSMEDBCwAgBIwSMEDJYohggYoCYObtmIGKAiPkBm4hj3UXWVGQAAAAASUVORK5CYII=);
}

.v-theme--waccaDark.wacca {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAA9CAYAAADF2cvLAAAABHNCSVQICAgIfAhkiAAAAdlJREFUaEPNmFuuwzAIRJuo68j+d5nKlVy5zgADOI7vV2secxi4P92O4zi3bXut8ref57kKy6uw7IVmFailgKopX4dWcAkCPbW6Vvfn0JOXLQKVwGyXer2LQ33Cnc4hAy5AMw8cDf8YEIIpZkCgGS6FgKSi7F1pfUWHsqJSPTrkNlcFsool0cy7CjT6lpgBTaCRUNrtVFdpIKaZtiq2ngLShNjYcCBm/xIcC1Pqpzh0G1DEJQ9MyCGPQGSA0MpYKDavvb0wkCVmxaV/gBCQ1Ky+R1ZVa8NAGVFtoDCQ1DQLmgJC4tHbSa+svRf0WXLQen/ve8qkv/7lV5TsLylDaNDqLCek+FsKeN7bu3ncoRYme9DFhPTKeoj+u8fpNBASz95TyiEE5HWkzw8DaTAZl0JAjKAG3LvSfg8DaU1rLALlBvKIeHLrELcCFREvlAvI27wCeepoIOaQmbuycmggq5EW9wxDAXkaSmDs2mggScjzzkCZQEwTFopxeioQA64CjXSnwlguiUBWITNtJEcEijRja7RhIZBWwIpaedI5iEBWwxFxBHUBQkkjxFEPtIk/IJSAGt35dnHoTjHUuzfhB9QHUPGMtz+gGYJIozXjCzTzkBFQy7AMUIX6AIeWj2leZ1NrAAAAAElFTkSuQmCC);
}

// special oled rules
.v-theme--waccaOled.wacca {
  background: black;
}
.v-theme--waccaOled .play,
.v-theme--waccaOled .song {
  outline: solid 1px white;
}

.v-theme--waccaOled,
.v-theme--waccaLight,
.v-theme--waccaDark {
  .wacca {
    flex-grow: 1;
    background-attachment: fixed;
  }

  .v-container {
    max-width: 1000px;
  }

  #site-logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;

    img {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
      display: block;
    }
  }

  @mixin slanted($dist) {
    clip-path: polygon($dist 0, 100% 0, calc(100% - $dist) 100%, 0 100%);
    padding-left: $dist;
    padding-right: $dist;
  }

  #wacca-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    a {
      line-height: 1;
      position: relative;
      color: rgba(var(--v-theme-on-background));
      font-weight: bold;
      font-size: 1.4rem;

      padding: 5px 10px;
      text-decoration: none;
      text-transform: uppercase;

      // underline animation thing
      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px rgb(var(--v-theme-primary));
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: (0% 200%);
      }

      &:hover:after,
      &.router-link-active:after {
        transform: scaleX(1);
      }
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  // INDEX
  .waifu-holder {
    position: relative;
    pointer-events: none;
  }

  .waifu {
    position: absolute;
    $size: 0.7;

    width: 2048px * $size;
    height: 2048px * $size;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    top: -100px;
    right: -600px;
  }

  .profile-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .profile-icon {
      height: 150px;
      width: 150px;
      margin-right: -40px;
      z-index: 2;

      img {
        height: 100%;
      }
    }

    .profile-box.slanted {
      padding-left: 50px;
    }
  }

  .profile-box {
    display: inline-block;
    background: rgba(var(--v-theme-boxcolor), 0.8);
    font-weight: 700;
    font-size: 2rem;
    color: white;
    padding: 10px 40px;

    &.slanted {
      @include slanted(30px);
    }

    .light {
      font-weight: 200;
    }
  }

  .profile-stat {
    display: inline-block;
  }

  // RECENTS
  $play-paddings: 10px;
  $play-cover-size: 100px;

  .playlog-hr {
    display: flex;
    align-items: center;
    color: rgba(var(--v-theme-on-background), 0.5);
    gap: 10px;
  }
  .playlog-hr:before,
  .playlog-hr:after {
    content: "";
    flex-grow: 1;
    background: rgba(var(--v-theme-on-background), 0.5);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
  }

  @mixin animate {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rate_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
  }
  .rating-white {
    color: white;
  }

  .rating-darkblue {
    color: #1005de;
  }

  .rating-yellow {
    color: #fffc48;
  }

  .rating-red {
    color: #fc0606;
  }

  .rating-purple {
    color: #a000ac;
  }

  .rating-blue {
    color: #009de6;
  }

  .rating-silver {
    @include animate;

    background-image: repeating-linear-gradient(
      -70deg,
      #b7b7b7,
      #f6f6f6,
      #8a8a8a,
      #f5f5f5,
      #828282
    );
  }

  .rating-gold {
    @include animate;

    background-image: repeating-linear-gradient(
      -70deg,
      #bf953f,
      #fcf6ba,
      #b38728,
      #fbf5b7,
      #aa771c
    );
  }

  .rating-rainbow {
    @include animate;

    background-image: repeating-linear-gradient(
      -70deg,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red,
      violet
    );
  }

  @keyframes rate_animation {
    0%,
    100% {
      background-position: 0 0;
    }

    50% {
      background-position: 100% 0;
    }
  }

  .play {
    position: relative;

    padding-bottom: 0;
    margin: 1em 0;

    border-radius: $play-paddings;

    background-color: rgb(var(--v-theme-boxcolor));
    overflow: hidden;
    transition: background-color 0.2s, box-shadow 0.2s;

    &:hover {
      background-color: #444;
      box-shadow: 0 0 10px rgb(var(--v-theme-primary));
    }

    .player-header {
      display: flex;
      gap: $play-paddings;
    }

    .play-cover {
      flex-shrink: 0;
      width: $play-cover-size;
      height: $play-cover-size;

      transition: width 0.5s, height 0.5s;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.expanded .play-cover {
      // width: 160px;
      // height: 160px;
    }

    .play-info {
      flex-grow: 1;
      color: white;
      font-weight: bold;
      min-width: 0;
      padding: $play-paddings;
    }

    .play-header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      line-height: 1.4;

      .play-header-left {
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .play-title {
          font-size: 1.5rem;
          margin-bottom: -10px;
          margin-right: 10px;
        }

        .play-artist {
          font-size: 1rem;
          color: rgb(var(--v-theme-primary));
        }
      }

      .play-header-right {
        flex-shrink: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .play-stats {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      background: white;
      color: black;
      @include slanted(15px);
      padding-left: 0;
    }

    .play-difficulty {
      font-size: 1.5rem;
      color: white;
      @include slanted(15px);
      padding: 0 25px;
      margin-right: -10px;

      &.difficulty-1 {
        background-color: #009de6;
      }

      &.difficulty-2 {
        background-color: #fed131;
      }

      &.difficulty-3 {
        background-color: #fc06a3;
      }

      &.difficulty-4 {
        background-color: #4a004f;
      }

      .play-difficulty-number {
        font-weight: 300;
      }
    }

    .play-grade {
      padding-left: 10px;
      height: 32px;

      img {
        height: 100%;
      }
    }

    .play-score {
      font-size: 1.5rem;
      font-weight: 600;
      padding-left: 10px;
    }

    .play-pb {
      font-weight: 300;
      padding-left: 10px;
    }

    .play-spacer {
      flex-grow: 1;
    }

    .play-medal {
      padding-left: 10px;

      span {
        padding-right: 2px; // weird cutoff otherwise
      }
    }

    .play-detail {
      display: flex;
      gap: 10px;
      // margin-top: $play-paddings;
      line-height: 1;
      font-size: 1.5rem;
      font-family: "SHINBI", sans-serif;
      color: white;
      flex-wrap: wrap;
      justify-content: space-around;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s;
    }

    &.expanded .play-detail {
      max-height: 156px;
    }

    .play-judgements {
      margin-bottom: 20px;

      .play-judgement {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 0;
        margin-top: -10px;

        .play-judgement-label {
          letter-spacing: -2px;
        }

        &.judgement-Marvelous .play-judgement-label {
          background: -webkit-linear-gradient(#ff1e8c, #fe8e34);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.judgement-Great .play-judgement-label {
          background: -webkit-linear-gradient(#ffff88, #c2e67b);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.judgement-Good .play-judgement-label {
          background: -webkit-linear-gradient(#98edff, #72a6f1);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.judgement-Miss .play-judgement-label {
          background: -webkit-linear-gradient(#8b8b8b, #dadada);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.judgement-Fast .play-judgement-label {
          background: -webkit-linear-gradient(#fd6d1e, #ad093f);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.judgement-Late .play-judgement-label {
          background: -webkit-linear-gradient(#8872fe, #1e1eff);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &.judgement-Combo .play-judgement-label {
          // background: -webkit-linear-gradient(#8b8b8b, #dadada);
          // background-clip: text;
          // -webkit-text-fill-color: transparent;
        }
      }
    }

    .play-expand {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, 13px);

      .v-btn__content {
        transform: translateY(-6px);
      }
    }
  }

  // difficulties
  .song-sheets {
    color: white;
    font-weight: bold;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .song-difficulty-pill {
    font-weight: bold;
    color: white;
    background-color: #888;
    transition: background-color 0.2s;
    cursor: pointer;

    &.active,
    &:hover {
      &.song-difficulty-1 {
        background-color: #009de6;
      }

      &.song-difficulty-2 {
        background-color: #fed131;
      }

      &.song-difficulty-3 {
        background-color: #fc06a3;
      }

      &.song-difficulty-4 {
        background-color: #4a004f;
      }
    }

    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 3px 15px;
    padding-right: 0px;

    border-radius: 100px;
    background-image: linear-gradient(
      290deg,
      rgba(0, 0, 0, 0.3) 55px,
      transparent 55px
    );
    .song-difficulty-level {
      width: 55px;
      font-weight: 300;
      text-align: center;
    }
  }

  .song-difficulty-bottom {
    background-color: white;
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1rem;
    text-align: center;
  }

  .all-song-medal {
    transform: rotate(-10deg);
    height: 40px;
    margin-bottom: -20px;
    text-align: center;
  }

  // SONGS
  .song-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin: 1em 0;
    align-items: stretch;

    > .v-btn-group {
      display: flex;
      height: auto;
    }
  }

  .sort-menu {
    display: flex;
    flex-direction: column;

    .v-btn {
      justify-content: left;
    }
  }

  .sort-order-button {
    border-left: 2px solid rgba(var(--v-theme-background), 0.7) !important;
  }

  .song-filters {
    padding: 0.5em;
    background: rgb(var(--v-theme-surface));
    border-radius: 10px;
    overflow: auto;
    border-radius: inherit;

    box-shadow: 0px 5px 5px -3px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
      0px 8px 10px 1px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
      0px 3px 14px 2px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
  }

  .song-filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    &.heading {
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-top: 1em;
      }
      color: rgb(var(--v-theme-primary));

      &:before,
      &:after {
        content: "";
        flex-grow: 1;
        background: rgb(var(--v-theme-primary));
        height: 1px;
        font-size: 0px;
        line-height: 0px;
      }
    }
  }

  .song-filter-help {
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
    font-size: 0.8em;

    > div {
      width: 64px;
      display: flex;
      justify-content: center;
    }
  }

  .song-categories {
    background: rgb(var(--v-theme-surface));
    padding: 0.5em;
  }

  .songs {
    $song-paddings: 10px;

    a {
      text-decoration: none;
    }

    .song {
      display: flex;

      margin-bottom: 1rem;

      border-radius: $song-paddings;
      overflow: hidden;

      background-color: rgb(var(--v-theme-boxcolor));
      transition: background-color 0.2s, box-shadow 0.2s;

      &:hover {
        background-color: #444;
        box-shadow: 0 0 10px rgb(var(--v-theme-primary));
      }

      .song-is-favorite {
        font-size: 2em;
        color: gold;
      }

      .song-cover {
        flex-shrink: 0;
        width: 160px;
        height: 160px;

        .v-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .v-img--booting {
          background-color: #888;
        }
      }

      .song-info {
        flex-grow: 1;
        color: white;
        font-weight: bold;
        min-width: 0;
      }

      .song-header {
        padding-left: $song-paddings;
        display: flex;
        justify-content: space-between;
        gap: $song-paddings;
      }

      .song-header-left {
        flex-grow: 1;

        .song-title {
          font-size: 1.5rem;
          margin-bottom: -10px;
        }

        .song-artist {
          font-size: 1rem;
          color: rgb(var(--v-theme-primary));
        }
      }

      .song-header-right {
        flex-shrink: 0;
      }

      .song-sheets {
        padding: 0 $song-paddings;
      }
    }
  }

  .song-medal {
    white-space: nowrap;
    font-family: "SHINBI", sans-serif;
    letter-spacing: -2px;
    font-size: 1.3rem;
  }

  .medal-clear {
    text-transform: uppercase;
    font-weight: 300;

    span {
      padding: 0 2px;
      background-image: linear-gradient(
        90deg,
        #057bd0,
        20%,
        #47fee7,
        40%,
        #fd44a0,
        60%,
        #47fee7,
        80%,
        #057bd0
      );
      background-clip: text;

      // evil vendor prefix stuff
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-stroke: 3px transparent;
      -moz-text-stroke: 3px transparent;
      color: white;
    }
  }

  .medal-missless {
    span {
      color: #dfff01;
      -webkit-text-stroke: #7eb301 0.1px;
      background: linear-gradient(180deg, #fffc00, #b2fb03);
      background-clip: text;
      // evil vendor prefix stuff
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  .medal-failed {
    span {
      text-transform: uppercase;
      color: #e80e69;
      background: linear-gradient(180deg, #e80e69, #29257c);
      background-clip: text;
      // evil vendor prefix stuff
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  .medal-fullcombo {
    span {
      color: #dfff01;
      background: linear-gradient(180deg, #fb0298, 33%, #fb0298, 66%, #530bc8);
      background-clip: text;
      // evil vendor prefix stuff
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  .medal-allmarvelous {
    span {
      height: 30px;
      display: block;
      font-weight: 900;
      color: #dfff01;
      background: repeating-linear-gradient(
        169deg,
        #c323d3,
        5%,
        #eccd1b,
        15%,
        #eca41b,
        25%,
        #e43a3d,
        33%,
        #c323d3,
        50%,
        #c323d3,
        55%,
        #eccd1b,
        65%,
        #eca41b,
        75%,
        #e43a3d,
        83%,
        #c323d3
      );
      background-clip: text;
      // evil vendor prefix stuff
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;

      @keyframes marvelous {
        from {
          background-position: 0 0px;
        }
        to {
          background-position: 0 30px;
        }
      }

      animation: 2s linear infinite marvelous;
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .option {
    margin-bottom: 1rem;

    .option-heading {
      font-weight: bold;
    }
  }

  // SONG

  .v-container.single-song-container {
    padding: 0;
  }

  .single-song {
    position: relative;
    display: flex;
    gap: 10px;

    .single-song-cover {
      width: 320px;
    }

    .single-song-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .single-song-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    h2 {
      color: rgb(var(--v-theme-primary));
    }

    .single-song-pills {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }

    .single-song-pill {
      border-radius: 50px;
      padding: 5px 10px;
      background-color: rgb(var(--v-theme-surface-variant));
      color: white;
      font-weight: 700;
    }

    .single-song-game {
      position: absolute;
      bottom: 10px;
      right: 10px;
      height: 50px;

      img {
        height: 100%;
      }
    }
  }

  .highscore-grade,
  .highscore-icon {
    height: 30px;
    vertical-align: middle;
  }

  .player-chart {
    height: 300px;
    position: relative;

    .player-chart-text {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background: rgba(var(--v-theme-surface), 0.5);
      div {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }
}
