@font-face {
  font-family: "SHINBI";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/font/SHINBI.woff2") format("woff2");
}

.v-theme--waccaLight.wacca.v-theme-provider,
.v-theme--waccaLightPlus.wacca.v-theme-provider {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAA9AgMAAAC4tyNYAAAADFBMVEX4+Pj////9/f37+/uz03onAAAA10lEQVQoz1XQvQ3CMBCG4QNEQZEybMAISJSRWIAil6RIkREYgSW8D0tkH/z9JBJu/FaPfRff2E7n+xSL6xAv1yUm1zlG1y0GVxtppkR2QjJyEVJLTFNrElJrFFJLzFpLTEF1RFALENaMn7AmIKwRCIpMiyJTVB0Q1gKENUfDAnNngbmxwKwsMLnVk/V/Hntd9yp75cdxzLfroI1wiNl1z97V5qDA+65MMETSTINRjKQYDtEbSTOFAwgBIwSMEDBCwAgBIwSMEDJYohggYoCYObtmIGKAiPkBm4hj3UXWVGQAAAAASUVORK5CYII=);
}

.v-theme--waccaDark.wacca.v-theme-provider,
.v-theme--waccaDarkPlus.wacca.v-theme-provider {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAA9CAYAAADF2cvLAAAABHNCSVQICAgIfAhkiAAAAdlJREFUaEPNmFuuwzAIRJuo68j+d5nKlVy5zgADOI7vV2secxi4P92O4zi3bXut8ref57kKy6uw7IVmFailgKopX4dWcAkCPbW6Vvfn0JOXLQKVwGyXer2LQ33Cnc4hAy5AMw8cDf8YEIIpZkCgGS6FgKSi7F1pfUWHsqJSPTrkNlcFsool0cy7CjT6lpgBTaCRUNrtVFdpIKaZtiq2ngLShNjYcCBm/xIcC1Pqpzh0G1DEJQ9MyCGPQGSA0MpYKDavvb0wkCVmxaV/gBCQ1Ky+R1ZVa8NAGVFtoDCQ1DQLmgJC4tHbSa+svRf0WXLQen/ve8qkv/7lV5TsLylDaNDqLCek+FsKeN7bu3ncoRYme9DFhPTKeoj+u8fpNBASz95TyiEE5HWkzw8DaTAZl0JAjKAG3LvSfg8DaU1rLALlBvKIeHLrELcCFREvlAvI27wCeepoIOaQmbuycmggq5EW9wxDAXkaSmDs2mggScjzzkCZQEwTFopxeioQA64CjXSnwlguiUBWITNtJEcEijRja7RhIZBWwIpaedI5iEBWwxFxBHUBQkkjxFEPtIk/IJSAGt35dnHoTjHUuzfhB9QHUPGMtz+gGYJIozXjCzTzkBFQy7AMUIX6AIeWj2leZ1NrAAAAAElFTkSuQmCC);
}

// special oled rules
.v-theme--waccaOled.wacca.v-theme-provider,
.v-theme--waccaOledPlus.wacca.v-theme-provider {
  background: black;
}

.v-theme--waccaOled,
.v-theme--waccaLight,
.v-theme--waccaDark,
.v-theme--waccaOledPlus,
.v-theme--waccaLightPlus,
.v-theme--waccaDarkPlus {
  .wacca {
    flex-grow: 1;
    background-attachment: fixed;
  }

  .v-container {
    max-width: 1000px;
  }

  #site-logo {
    width: 100%;
    text-align: center;
    padding: 20px 0;

    img {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
      display: block;
    }
  }

  @mixin slanted($dist) {
    clip-path: polygon($dist 0, 100% 0, calc(100% - $dist) 100%, 0 100%);
    padding-left: $dist;
    padding-right: $dist;
  }

  #wacca-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    a {
      line-height: 1;
      position: relative;
      color: rgba(var(--v-theme-on-background));
      font-weight: bold;
      font-size: 1.4rem;

      padding: 5px 10px;
      text-decoration: none;
      text-transform: uppercase;

      // underline animation thing
      &:after {
        display: block;
        content: "";
        border-bottom: solid 3px rgb(var(--v-theme-primary));
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: (0% 200%);
      }

      &:hover:after,
      &.router-link-active:after {
        transform: scaleX(1);
      }
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}

.song-sheets {
  padding: 0 10px;
  color: white;
  font-weight: bold;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
